*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

/* NavBar*/
.nav-bar{
  position: sticky;
  top: 0;
  height: 62px;
  background-color: rgb(142, 171, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 75px;
}

.nav-bar h2{
  font-size: 50px;
  padding: 0 0rem;
  background-color: white;
  width: 118%;
  height: 62px;
}

.nav-bar a{
  text-decoration: none;
  color: black;
}
.reno-home{
  transform: scale(0.60);
  position: fixed;
  top: -0.1%;
  padding-left: 10px;
}

.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68,68,68);
  min-height: 80vh;
}

.not-found h2{
  font-size: 55px;
}

.not-found p{
  font-size: 20px;
}

/* Admin */
.link-active{
  color: #4b70e2;
  border-left: 3px solid #4b70e2;
  padding: 5px;
  border-radius: 2px;
}

.link-inactive{
  color: rgb(97,97,97)
}














